<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
  <property name="hibernate.connection.password">postgres</property>
  <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/proyecto</property>
  <property name="hibernate.connection.username">postgres</property>
  <mapping resource="co/edu/usbcali/demo/modelo/VtUsuarioArtefacto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtArchivo.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtEstado.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtPilaProducto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtTipoArtefacto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtProyectoUsuario.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtUsuarioRol.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtEmpresa.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtInteres.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtRol.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtHistoriaArtefacto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtProyecto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtPrioridad.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtSprint.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtArtefacto.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/VtUsuario.hbm.xml"/>
  <mapping resource="co/edu/usbcali/demo/modelo/Consultas.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
